# Built files
/build/
/app/build/

# Gradle
.gradle/
/local.properties
/.gradle
/captures/

# IDEs
*.iml
.idea/
*.iws
*.ipr
/.idea/
/.vscode/

# Secrets
/app/google-services.json
/secrets.properties
/gradle.properties

# Logs
*.log

# User-specific
*.sublime-project
*.sublime-workspace

# Screenshots
/screenshots